# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
.idea/
/**/.nasher/

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

*.mod
*.hak
*.tlk
*.erf
*.gff
*.bic
*.are
/server/live-server/hak/
/server/live-server/mod/
/server/live-server/**/
/server/live-server/cryptographic_secret
/server/live-server/settings.tml
/server/logs/anvil.log
/server/logs/nwserverError1.txt
/server/logs/nwserverLog1.txt
